{% extends "public/base.html.twig" %}

{% block title %} About {{ current_public_contest.shortname | default('') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="aboutInfo">
    <img class="mb-4 img-fluid" src="{{ asset('images/security/logoSergioB.jpg') }}" alt="Universidad Sergio Arboleda" width="600" style="display: block; margin-left: auto; margin-right: auto;">
    
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="align-content:center; text-align: center;">
                <p><strong>La Maratón de Programación Interna</strong> de la Universidad Sergio Arboleda es una iniciativa retomada en 2022 por el profesor Juan Pablo Ospina del programa de Ciencias Computacionales e Inteligencia Artificial, junto con estudiantes de últimos semestres involucrados en el emocionante mundo de la programación competitiva.</p>
                <p>Organizada por la Escuela de Ciencias Exactas e Ingeniería, esta maratón se ha convertido en un evento emblemático dentro de la comunidad académica de la Universidad Sergio Arboleda. Aquí, estudiantes de diversos programas tienen la oportunidad de enfrentarse a desafíos de programación emocionantes y altamente estimulantes.</p>
                <p>A lo largo de la competencia, los participantes deberán resolver una serie de problemas utilizando sus conocimientos en programación, algoritmos y estructuras de datos. Cada desafío representa un reto único que pondrá a prueba su creatividad, habilidades de resolución de problemas y capacidad para pensar fuera de la caja.</p>
                <p>La Maratón de Programación Interna de la Universidad Sergio Arboleda no solo es una oportunidad para demostrar habilidades técnicas, sino también para fomentar el trabajo en equipo, la colaboración y el intercambio de conocimientos entre disciplinas. Es un evento que celebra la pasión por la programación y el deseo de superar constantemente los límites personales.</p>
            </div>
            <div class="col-md-6" style="align-content:center;">
                <img style="margin: auto; filter:grayscale(10%) opacity(90%);" class="img-fluid" src="{{ asset('images/organizators/organizadoresFull.jpg') }}" alt="Winner 23-2">
            </div>
        </div>
    </div>

    <div class="Organizators">
        <div style="text-align: center;">
            <h1>Organizadores</h1>
        </div>
        <div class="container px-4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for organizer in organizers %}
                <div class="col">
                    <div class="p-3 border bg-light text-center">
                        <img style="width:250px; height:250px; border-radius: 50%; margin: auto; filter:grayscale(50%) opacity(90%);" src="{{ asset(organizer.image) }}" alt="Avatar">
                        <br>
                        <div id="userban">
                            <a style="font-size:20px">
                                <strong>{{ organizer.name }}</strong><br>
                                <i style="color:gray; font-size:15px">{{ organizer.title }}</i>
                            </a>
                            <p>Organizador en {{organizer.period}}</p>
                            <div style="text-align:center;">
                                <a href="{{ organizer.github }}"><i class="fa-brands fa-github"></i></a> | 
                                <a href="{{ organizer.info }}"><i class="fa-solid fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="Winners" style="text-align: center;">
        <h1>Organizadores ediciones anteriores</h1>
        <a class="nav-link" href="{{ path('public_organizer') }}" style="color:black;"><i class="fa-solid fa-gears"></i> Organizadores</a>
    </div>
</div>
{% endblock %}
