{% extends "public/base.html.twig" %}

{% block title %} About - Winners {{ current_public_contest.shortname | default('') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    {% for winner in winners %}
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="{{ winner.link }}">
                <img class="img-fluid" style="margin: auto; filter:grayscale(50%) opacity(90%);" src="{{ asset(winner.image) }}" alt="Winner {{ winner.year }}">
            </a>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <ul class="list-group w-100">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-primary text-white">
                    <strong>{{ winner.team }}</strong> Ganadores {{ winner.year }}
                    <span class="badge bg-warning text-dark">Python</span>
                </li>
                {% for member in winner.members %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <img class="rounded-circle" style="width:50px; height:50px; margin: auto; filter: opacity(90%);" src="{{ asset('images/winners/career/' ~ member.career ~ '.png') }}" alt="Avatar">
                    </span>
                    {{ member.name }}
                    <span class="badge bg-primary">{{ member.semester }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="hr-container">
        <hr>
        <i class="fas fa-code hr-icon"></i>
        <hr>
    </div>
    {% endfor %}
</div>

<style>
.row.mt-4 {
    border-radius: 15px;  /* Bordes redondeados */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);  /* Sombra ligera */
    padding: 10px; /* Espaciado interno */
    background-color: white; /* Opcional, para resaltar */
    transition: transform 0.3s ease-in-out; /* Suavizar la animación */
}

.row.mt-4:hover {
    transform: scale(1.02); /* Efecto de agrandamiento al hacer hover */
}

/* Efecto de hover para la imagen contenida */
.row.mt-4 img {
    transition: transform 0.3s ease-in-out; /* Suavizar la animación */
}

.row.mt-4:hover img {
    transform: scale(1.1); /* La imagen aumenta ligeramente de tamaño */
}
.hr-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin: 20px auto;
        }

        .hr-container hr {
            flex-grow: 1;
            border: none;
            border-top: 1px solid #002855;
        }

        .hr-icon {
            margin: 0 10px;
            font-size: 20px;
            color: black;
        }
</style>
{% endblock %}
